repos:
-   repo: https://github.com/ambv/black
    rev: stable
    hooks:
    - id: black
      args: [--line-length=88, --safe]
      python_version: python3.6
-   repo: local
    hooks:
    - id: flake8
      name: flake8
      language: system
      entry: flake8 --config=setup.cfg
      files: ({{cookiecutter.package_name}}|tests)/.*\.py$
